@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  text-align: center;
  background-color: hsl(220, 13%, 18%);
  min-height: 30px;
  font-size: 1rem;
  color: rgb(230, 81, 81);
  padding: 5px;
  margin: 0;
}

input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(230, 81, 81);
  color: black;
}
button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(230, 81, 81);
  color: white;
  background-color: rgb(230, 81, 81);
}
